<div class="container mt-5">
  <h1>Category Hierarchy</h1>

  <% for (let i = 0; i < categories.length; i++) { %>
    <div class="row">
      <div class="col">
        <h2><%= categories[i].name %></h2>
        <ul>
          <% for (let j = 0; j < categories[i].children.length; j++) { %>
            <li><%= categories[i].children[j].name %>
              <% if (categories[i].children[j].children && categories[i].children[j].children.length > 0) { %>
                <ul>
                  <% for (let k = 0; k < categories[i].children[j].children.length; k++) { %>
                    <li><%= categories[i].children[j].children[k].name %></li>
                    <% if (categories[i].children[j].children && categories[i].children[j].children.length > 0) { %>
                      <ul>
                        <% for (let k = 0; k < categories[i].children[j].children.length; k++) { %>
                          <li><%= categories[i].children[j].children[k].name %></li>
                          <% if (categories[i].children[j].children[k].children && categories[i].children[j].children[k].children.length > 0) { %>
                            <ul>
                              <% for (let l = 0; l < categories[i].children[j].children[k].children.length; l++) { %>
                                <li><%if(categories[i].children[j].children[k].children[l].name){%>
                                  <%= categories[i].children[j].children[k].children[l].name %>
                                  <%}%>
                                </li>
                              <% } %>
                            </ul>
                          <% } %>
                        <% } %>
                      </ul>
                    <% } %>
                  <% } %>
                </ul>
              <% } %>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  <% } %>
</div>