<div class="container">
  <div class="row">
    <div class="col-8">
      <h1 class="px-3">Products</h1>
    </div>
    <div class="col-4 text-right mt-3">
      <button class="btn btn-primary" onclick="window.location.href = '/admin/addproducts';">Add Products</button>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">S/L</th>
        <th scope="col">Product Name</th>
        <th scope="col">Brand</th>
        <th scope="col">Categories</th>
        <th scope="col">Price (INR)</th>
        <th scope="col">Published</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <!-- Sample product rows -->
      <%for (let i in products) {%>
      <tr>
        <th scope="row"><%=parseInt(i)+1%></th>
        <td class="text-truncate" style="max-width: 150px;"><%=products[i].name%></td>
        <td class="text-truncate" style="max-width: 150px;"><%=products[i].moreInfo.brand%></td>
        <td>
          <%for(let j in products[i].categories) {%>
            <span class="badge badge-dark"><%=products[i].categories[j]%></span>
          <%}%>
        </td>
        <td><%=products[i].price%></td>
        <td>Yes</td>
        <td>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ...
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/admin/products/edit/<%=products[i]._id%>">Edit</a>
              <a class="dropdown-item" href="/admin/products/delete/<%=products[i]._id%>">Delete</a>
              <a class="dropdown-item" href="#">View Details</a>
            </div>
          </div>
         
        </td>
      </tr>
      <%}%>
      
    </tbody>
  </table>
</div>