<div class="container mb-5">
    <h1 class="ms-3">Edit Products</h1>
    <div class="col-8 justify-content-center align-self-center ">
        <form class="container" action="/admin/products/edit/<%=product._id%>" method="POST" enctype="">
            <div class="form-group">
              <label for="itemName">Name of the Item</label>
              <input type="text" class="form-control" name="name" id="itemName" placeholder="Enter item name" value="<%=product.name%>" required>
            </div>
            <div class="form-group">
              <label for="price">Price</label>
              <input type="number" class="form-control" name="price" id="price" placeholder="Enter price" value="<%=product.price%>" required>
            </div>
            <div class="form-group">
              <label for="category">Category</label>
              <select class="form-control" id="category" name="categories" value="<%=product.categories%>" required>
                <option value="">Select a category</option>
                <option value="men">Men</option>
                <option value="women">Women</option>
                <option value="kids">Kids</option>
              </select>
            </div>
            <div class="form-group">
              <label for="size">Size</label>
              <select class="form-control" name="size" value="<%=product.size%>"  id="size">
                <option value="">Select a size</option>
                <option value="small">Small</option>
                <option value="medium">Medium</option>
                <option value="large">Large</option>
              </select>
            </div>
            <div class="form-group">
              <label for="images">Images</label>
              <input type="file" class="form-control-file" name=""  id="images">
            </div>
            <div class="form-group">
              <label for="brand">Brand</label>
              <input type="text" class="form-control" id="brand" name="brand" value="<%=product.moreInfo.brand%>" placeholder="Enter brand">
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <textarea class="form-control" id="description" name="description" rows="3"><%=product.moreInfo.description%></textarea>
            </div>
            <div class="form-group">
              <label for="discount">Discount (in percentage)</label>
              <input type="number" class="form-control" id="discount" name="discount" value="<%=product.moreInfo.discount%>" placeholder="Enter discount percentage">
            </div>
            <button type="submit" class="btn btn-primary">Edit Product</button>
    </div>
    </form>
  </div>
