<div class="container-fluid">
<div class="row">
  <div class="col mt-3">
    <nav aria-label="breadcrumb" class="">
      <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#"><span class="badge bg-light text-dark">Home</span></a></li>
      <li class="breadcrumb-item"><a href="#"><span class="badge bg-light text-dark">Men</span></a></li>
      <li class="breadcrumb-item"><a href="#"><span class="badge bg-light text-dark">Topwear</span></a></li>
      <li class="breadcrumb-item active" aria-current="page"><span class="badge bg-light text-dark">Casual Shirts</span></li>
      </ol>
  </nav>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-6 ">
        <div class="text-center m-1">
          <img src="/img/products/<%=product.img[0]%>"  alt="Product 1" width="100%" class="rounded">
        </div>
      </div>
      <div class="col-md-6 ">
        <div class="text-center m-1">
          <img src="/img/products/<%=product.img[1]%>" alt="Product 2" width="100%" class="rounded">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="text-center m-1">
          <img src="/img/products/<%=product.img[2]%>" alt="Product 3" width="100%" class="rounded">
        </div>
      </div>
      <div class="col-md-6">
        <div class="text-center m-1">
          <img src="/img/products/<%=product.img[3]%>" alt="Product 4" width="100%" class="rounded">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12">
        <h3 class="p-0 m-0 font-weight-bold font-size: xx-large"><%=product.name%></h3>
        <p style="font-size: x-large; color: #535665;" class="pt-0 mt-0"><%=product.moreInfo.description%></p>
      </div>
    </div>
    <hr class="p-0 m-0">
    <div class="row mt-2">
      <div class="col-md-3 text-center ">
        <strong style="font-size: x-large">₹<%=((product.price*0.01*(100-product.moreInfo.discount)).toFixed(2))%></strong>
      </div>
      <div class="col-md-3 text-center">
         <span style="font-size: x-large; color:#696e79; " class="  text-decoration-line-through">₹<%=product.price%></span>
    </div>
      <div class="col-md-4 text-center">
        <span style="font-size: x-large; color:#ff905a" class=" font-weight-bold">(<%=product.moreInfo.discount%>% OFF)</span>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Brand:</h3>
        <p><%=product.moreInfo.brand%></p>
      </div>
    </div>
    <div class="row justify-content-center">

      <div class="btn-group" id="sizeButtons">
        <button type="button" class="btn btn-outline-secondary size-button" value="xs" data-size="xs" required>XS</button>
        <button type="button" class="btn btn-outline-secondary size-button" value="s" data-size="s" required>S</button>
        <button type="button" class="btn btn-outline-secondary size-button" value="m" data-size="m" required>M</button>
        <button type="button" class="btn btn-outline-secondary size-button" value="l" data-size="l" required>L</button>
        <button type="button" class="btn btn-outline-secondary size-button" value="xl" data-size="xl" required>XL</button>
      </div>
      
    </div>
    <div class="row justify-content-center m-4" style="max-width: 3000px">
      <div class="col-2">
        <button class="btn btn-primary px-3 me-2" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
        <i class="bi bi-file-minus"></i>
      </button>
      </div>

      <div class="col-3">
        <div class="form-outline">
          <input id="numbers" min="1"  name="quantity" value="1" type="number" class="form-control" />
          
        </div>
      </div>

      <div class="col-2">
        <button class="btn btn-primary px-3 ms-2"
        onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
        <i class="bi bi-plus"></i>
        </button>
      </div>
    </div>

    <div class="row justify-content-center my-3">
      <div class="col-md-6">
        <button type="button" class="btn btn-warning" id="addToCart" onclick="addToCart('<%=product._id%>', $('#numbers').val());">Add to cart</button>
        <button type="button" class="btn btn-outline-warning" id="goToBag" style="display: none;" onclick="window.location.href='/cart';"> →Go to Bag</button>
      </div>
      <div class="col-md-6">
        <button type="button" class="btn btn-outline-danger" id="wishlist"  onclick="addToWishlist('<%=product._id%>');"> Add To Wishlist</button>
      </div>
    </div>



  </div>
</div>
  </div>

<!-- Tost -->
<!--   <button type="button" class="btn btn-primary" onclick="showToast()">Show Toast</button>

  <div class="toast" id="toastContainer" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="mr-auto">Toast Message</strong>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">
      Select a size first
    </div>
  </div> -->