<div class="container mt-5 mb-5">
  <div class="container mt-3">
    <h1>User Profile</h1>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Personal Information</h2>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><strong>Name:</strong> <%=data.name%></li>
              <li class="list-group-item"><strong>Phone:</strong> <%=data.phone%></li>
              <li class="list-group-item"><strong>Email:</strong> <%=data.email%></li>
              <li class="list-group-item"><strong>Gender:</strong> <%=data.edit%></li>
              <li class="list-group-item"><strong>Date of Birth:</strong> <%=data.dob%></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Address</h2>
            <div>
              <h5 class="card-subtitle mb-2">Home</h5>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Building:</strong> <%=data.address[0].building%></li>
                <li class="list-group-item"><strong>Street:</strong> <%=data.address[0].street%></li>
                <li class="list-group-item"><strong>City:</strong> <%=data.address[0].city%></li>
                <li class="list-group-item"><strong>State:</strong> <%=data.address[0].state%></li>
                <li class="list-group-item"><strong>Pin:</strong> <%=data.address[0].pin%></li>
                <li class="list-group-item"><strong>Landmark:</strong> <%=data.address[0].landmark%></li>
                <li class="list-group-item"><strong>Address Type:</strong> <%=data.address[0].addressType%></li>
                <li class="list-group-item"><strong>Default:</strong> Yes</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>